* {
  padding: 0;
  margin: 0;
}

.user-page-container {
  box-sizing: border-box;
  padding: 40px;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #c5baff;
  color: #fbfbfb;
}

.user-page-container h3 {
  margin-bottom: 40px;
}

.file-input {
  color: black;
  display: inline-block;
  background: white;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 6px;
  width: 50%;
}

input[type="file"]::file-selector-button {
  background-color: #c4d9ff;
  border-style: none;
  padding: 8px;
  color: #fbfbfb;
  border-radius: 3px;
}

button {
  background-color: #c4d9ff;
  border-style: none;
  padding: 10px 8px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 10px;
  width: 52%;
}
